<div class="me">
  <div class="background-bg">
    <img src="../images/skyline_6-wallpaper-1920x1080.jpg" alt="">
  </div>
  <div class="me-info">
    <div class="container">
      <h1>web前端开发工程师</h1>
      <p class="info">い不忘初心，才能始终″</p>
      <p><a class="btn btn-default btn-lg" href="#" role="button">更多</a></p>
    </div>
  </div>
</div>